section.baconian
	div.widthRestriction
		h1.darkBlue Baconian cipher
		div.row
			div.col-lg-7
				h2.yellow Working
			div.col-lg-5
				h2.pink Implementation
				input.input#baconianString(type="text" placeholder="String")
				br
				p.darkBlue.bodyText#baconianCipherOutput
				br
				br