section.bottomLine
	br
	div.widthRestriction
		p.bodyText.darkBlue(style="margin: 0; padding: 0; text-align: center;")
			| ❤️ Made with love by 
			strong
				a.darkBlue(href="https://github.com/KrishSkywalker" style="text-decoration: none;") KrishSkywalker
		br