section.caesarShift
	br
	div.widthRestriction
		h1.cream Caesar shift
		div.row
			div.col-lg-7
				h2.yellow Working
			div.col-lg-5
				h2.pink Implementation
				input.input#caesarShiftMag(type="text" placeholder="Shift")
				input.input#caesarShiftString(type="text" placeholder="String")
				br
				p.cream.bodyText.output#caesarShiftFinal
				br
				br
				br