section.intro
	div.widthRestriction
		div.row
			div.col-lg-6
				h1.blue(style="padding-top: 0;") Introduction to Enkryption
				p.bodyText.darkBlue
					| Encryption is the process of using an algorithm to transform information to make it unreadable for unauthorized users.
					br
					br
					| The science of encrypting and decrypting information is called cryptography. In computing, unencrypted data is also known as plaintext, and encrypted data is called ciphertext. 
					br
					br
					| The formulas used to encode and decode messages are called encryption algorithms or ciphers.
					br
					br
					br
			div.col-lg-6
				br
				img.image(src="../img/introGraphic.jpg")