section.playfair
	br
	div.widthRestriction
		h1.cream Playfair
		div.row
			div.col-lg-7
				h2.yellow Working
			div.col-lg-5
				h2.pink Implementation
				input.input#playfairKeySqaureInput(type="text" placeholder="Key")
				br
				input.input#playfairEncryptInput(type="text" placeholder="Encrypt")
				input.input#playfairDecryptInput(type="text" placeholder="Decrypt")
				p.bodyText.cream#playfairEncryptedOutput Encrypted Text:
				p.bodyText.cream#playfairDecryptedOutput Decrypted Text:
				br
				br
				br