section.team
	br
	div.widthRestriction
		h1.cream The team
		div.row
			div.col-lg-6
				br
				img.image(src="../img/team.jpg" style="float: left;")
			div.col-lg-6
				div.teamNames
					h2.pink Ananya Choubey
					h2.yellow Jayani Tripathi
					h2.blue Krish Goel
					h2.pink Raghav Sarangi
					h2.yellow Srishti Srinivas
				br
				br
				br
				br