nav.topnav
	div.widthRestriction
		p.logo Kryptik
		div.topnavScrollMenu
			a.topnavLinks(href="#") Caesar shift
			a.topnavLinks(href="#") Baconian
			a.topnavLinks(href="#") Playfair
			a.topnavLinks(href="#") Kwerty
			a.topnavLinks(href="#") Team