doctype html
html
	include includes/head.pug
	body
		include includes/topnav.pug
		include includes/banner.pug
		include includes/intro.pug
		include includes/caesarShift.pug
		include includes/baconian.pug
		include includes/playfair.pug
		include includes/kwerty.pug
		include includes/team.pug
		include includes/bottomLine.pug
	script(src="../js/scripts.js")